*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

mat-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(10, 1, 9, 0.84);
  color: whitesmoke;
  font-size: 18px;
  padding: 40px;
  margin:40px;
  width:70%;
}

mat-card-subtitle{
  color: whitesmoke;
}

p{
  font-size: 12px;
}

mat-card-content{
  padding: 40px;
}

button{
  margin: 20px;
  left: 45%;
}
